---
interface Props {
  title: string;
  subtitle: string;
  href?: string;
  isWeb: boolean;
  webHref: string;
}

const { title, subtitle, href, isWeb, webHref } = Astro.props;
---

<a
  href={webHref}
  target="_blank"
  class="bg-black max-w-[132px] w-full p-1 rounded-md text-white"
>
  {
    href && (
      <article>
        <img src={href} alt={title} />
      </article>
    )
  }
  <div>
    <p
      class={isWeb
        ? " flex items-center gap-2 justify-center font-medium text-[18px]"
        : "flex flex-col items-center font-semibold text-[18px]"}
    >
      <span class="font-thin text-[14px]">{subtitle}</span>
      {title}
    </p>
  </div>
</a>
